@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    height: auto
}

header{
    text-align: center
}

#heading-message{
    text-align: center;
}

section{
    width: 90vw;
    margin: auto
}

input{
    width: 100%;
    margin-top: 15px;
    padding: 10px 0 10px 10px;
    border-radius: 0.5px;
}

p{
    margin-bottom: 0;
}