@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    height: auto;
    background-color: #FFFFFF;
}



header{
    text-align: center;
    background-color: #00BCD4;
    color: white;
}

.button{
    margin-top: 5px;
    background-color: #00BCD4;
    border: none;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.button:hover{
    color: black
}

#heading-message{
    text-align: center;
}

#page-title{
    margin-left: 1%;
}

nav{
    float: right
}

main {
    background-color: #FFFFFF;
    color: white;
    height: 100%;
    overflow: auto;
    background-image:url('https://eziamakanv.github.io/epicmail/UI/Images/backgroundhd.jpg')
}

.card {
    background-color: white;
    color: black;
    border-radius: 5px
}

.modal-content{
    color:black
}

.landing-message-1, .landing-message-2{
    text-align: center;
    font-size: 50px;
}

a{
    text-decoration: none;
    color: white
}

section{
    max-width: 100%;
    width: 60vw;
    margin: auto;
    
}

section#form-section{
    max-width: 500px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px
}

#form-section .input{
    margin-top: 15px
}


.input{
    width:100%;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    border-radius: 4px;
    border-width: 0.5px;
    outline: none
}

input:focus{
    border-color: blue
}

p{
    margin-bottom: 0;
}
#form-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form-bottom div{
    margin:auto
}

#form-bottom div span a{
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}


footer{
    height: 10%;
    background-color: #00BCD4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
footer div{
    margin:auto
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.flex-wrapper div{
    margin: auto
}

.flex-wrapper #menu-bar div{
    width: 20px;
    background: white;
    height: 5px;
    margin: 2px 0px 2px 0px
}


.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color:  #00BCD4;
    color: #FFFFFF
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ADC4DC;
  }

  #messages div:hover{
      border: 1px solid #BDBDBD;
      border-radius: 4px;
      cursor: pointer;
  }

  hr{
      margin:0;
  }


div.checkbox{
    margin-top:20px;
}

#group-name-div{
    width:60%;
    margin: 20px auto 0 auto;
}
#group-name-div input{
    width : 100%;
    padding: 10px 10px 10px 10px
}

textarea {	
    width: 100%;
    height: 300px;
    margin-top: 20px
    }

textarea:focus{
    border-color: blue;
    outline: none
}

#form-bottom a{
    margin-top: 5px;
    background-color: #00BCD4;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px
}

#form-bottom a:hover{
    color: black
}

#sent-messages div.flex-wrapper:hover{
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    cursor: pointer;
}

#new-message-icon a{
    position: relative;
}

span.pop-up{
    display:none;
    position: absolute; 
    color: black;
    padding: 12px 16px;
    background-color: #f1f1f1
  
}
a:hover span.pop-up{
    display: block;
    position: absolute
}

#draft-messages div.flex-wrapper:hover{
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    cursor: pointer;
}

#message-modal{
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: fixed;
    left: 0;
    top: 0;
}
#individual-message{
    display: block;
    margin: 5% auto;
    width:80%;
    height:80%
}
.close{
    float: right;
    outline:none
}

body.message-body{
    background-color: white;
}

#draft-messages button a{
    text-decoration: none
}


.modal{
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    position: fixed;
    left: 0;
    top: 0;

}

.modal-content{
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}
.modal a{
    background-color: #e8f1f8;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer
}

#contact-us span a, #terms span a {
    text-decoration: none;
    color: #FFFFFF
}

#contact-us span a:hover, #terms span a:hover {
    color: black
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px 0 0;
    text-decoration: none;
  }

  li a:hover{
      color: black
  }

  nav{
      display: none
  }

img{
    border: 1px solid black;
    width:35px;
    height:35px;
}


@media(min-width:700px){
    
    .dropdown{
        display: none
    }
    nav{
        display: block
    }
    .hide{
        display: none
    }
}